{% load static %}
<!-- jQuery -->
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>

<!-- Bootstrap Core JS -->
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

<!-- Slimscroll JS -->
<script src="{% static 'js/jquery.slimscroll.min.js' %}"></script>

<!-- Chart JS -->
<script src="{% static 'plugins/morris/morris.min.js' %}"></script>
<script src="{% static 'plugins/raphael/raphael.min.js' %}"></script>
<script src="{% static 'js/chart.js' %}"></script>

<!-- Apex Charts -->
<script src="{% static 'plugins/apexcharts/apexcharts.min.js' %}"></script>

<!-- Custom JS -->
<script src="{% static 'js/app.js' %}"></script>