{% extends 'base.html' %}
{% block title %}Leave Application{% endblock %}
{% block content %}
{{ form.media }}
<!-- Page Wrapper -->
<div class="page-wrapper">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Leave application</h3>
                </div>
                <div class="modal-body">
                    <form action="{% url 'leave' %}" enctype="multipart/form-data" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-form-label">Leave Purpose <span class="text-danger">*</span></label>
                                    {{ form.leave_purpose }}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-form-label">Start Date</label>
                                    {{ form.start_time }}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label >End Date<span class="mandatory">*</span></label>
					                {{ form.end_time }}
                                </div>
                            </div>
				        </div>

                        <div class="submit-section">
                            <button class="btn btn-primary submit-btn">Submit</button>
                        </div>
                        {{ form.errors }}
                        {{ form.non_field_errors }}
                    </form>
                </div>
            </div>
        </div>
</div>

{% endblock %}